/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* BODY */
body {
  height: 100vh;
  background: #020617;
  color: white;
  overflow: hidden;
}

/* CANVAS */
#weatherCanvas {
  position: fixed;
  inset: 0;
  z-index: -1;
}

/* APP CARD */
.app {
  width: 360px;
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(15px);
  padding: 25px;
  border-radius: 20px;

  margin: 80px auto;
  text-align: center;

  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.7);
}

/* TITLE */
h1 {
  color: #60a5fa;
  margin-bottom: 15px;
}

/* SEARCH */
.search {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
}

.search input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 8px;
  outline: none;
}

.search button {
  padding: 10px 14px;
  border: none;
  border-radius: 8px;
  background: #3b82f6;
  color: white;
  cursor: pointer;
  font-weight: 600;
}

.search button:hover {
  background: #2563eb;
}

/* LOCATION */
.loc {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 8px;
  background: #22c55e;
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 15px;
}

.loc:hover {
  background: #16a34a;
}

/* WEATHER */
.weather {
  display: none;
  animation: fade 0.8s ease;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.temp {
  font-size: 3rem;
  font-weight: 600;
  margin: 5px 0;
}

.weather img {
  width: 90px;
}

/* DETAILS */
#details {
  font-size: 14px;
  color: #cbd5e1;
}

/* ERROR */
.error {
  color: #ff6b6b;
  margin-top: 10px;
  font-weight: 600;
}
